.App {
  text-align: center;
  background-color: rgb(36, 36, 36);
  overflow: hidden;
  scroll-behavior: smooth;
}

.dark{
  background-color: #141414;
  color: #fff;
  padding: 100px;
}

.white{
  background-color: #fff;
  color: #141414;
}

.link{
  text-decoration: none;
  color: #fff;
  z-index: 10;
}